In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_excel("pandas_01.xlsx")

In [3]:
df.head()

,index,merchantid,listedproducts,totalunitssold,meanunitssoldperproduct,rating,merchantratingscount,meanproductprices,meanretailprices,averagediscount,meandiscount,meanproductratingscount,totalurgencycount,urgencytextrate
0,0,5357bcf2bb72c5504882e889,2,120000,60000,4.219,320031,9.00,20.0,54,54.0,8836,1.0,50.0
1,1,5708773c3c02161b3f8c7900,5,107100,21420,3.934,139223,7.76,34.2,61,61.0,4010,3.0,60.0
2,2,5417aada4ad3ab27e954b76c,2,100007,50004,4.053,108048,8.00,8.0,-1,-1.0,5531,NaN,NaN
3,3,570f3a713a698c14278bb51e,1,100000,100000,3.889,19248,5.67,19.0,71,71.0,18393,1.0,100.0
4,4,53082ea15aefb07dfe1f2a4f,1,100000,100000,4.036,366898,5.00,33.0,85,85.0,13789,NaN,NaN

In [9]:
df.shape

(958, 14)

In [8]:
# Data Cleane 
df.isnull().sum()

index                        0
merchantid                   0
listedproducts               0
totalunitssold               0
meanunitssoldperproduct      0
rating                       0
merchantratingscount         0
meanproductprices            0
meanretailprices             0
averagediscount              0
meandiscount                 0
meanproductratingscount      0
totalurgencycount          567
urgencytextrate            567
dtype: int64

In [10]:
df.isnull().sum()/958

index                      0.000000
merchantid                 0.000000
listedproducts             0.000000
totalunitssold             0.000000
meanunitssoldperproduct    0.000000
rating                     0.000000
merchantratingscount       0.000000
meanproductprices          0.000000
meanretailprices           0.000000
averagediscount            0.000000
meandiscount               0.000000
meanproductratingscount    0.000000
totalurgencycount          0.591858
urgencytextrate            0.591858
dtype: float64

In [11]:
# Remove Null Value Columns
df.drop(columns=['totalurgencycount','urgencytextrate'], inplace=True)

In [12]:
df

,index,merchantid,listedproducts,totalunitssold,meanunitssoldperproduct,rating,merchantratingscount,meanproductprices,meanretailprices,averagediscount,meandiscount,meanproductratingscount
0,0,5357bcf2bb72c5504882e889,2,120000,60000,4.219,320031,9.00,20.0,54,54.0,8836
1,1,5708773c3c02161b3f8c7900,5,107100,21420,3.934,139223,7.76,34.2,61,61.0,4010
2,2,5417aada4ad3ab27e954b76c,2,100007,50004,4.053,108048,8.00,8.0,-1,-1.0,5531
3,3,570f3a713a698c14278bb51e,1,100000,100000,3.889,19248,5.67,19.0,71,71.0,18393
4,4,53082ea15aefb07dfe1f2a4f,1,100000,100000,4.036,366898,5.00,33.0,85,85.0,13789
...,...,...,...,...,...,...,...,...,...,...,...,...
953,953,567bad8582c35f28103e5813,1,2,2,3.999,21307,11.00,10.0,-10,-10.0,1
954,954,5b24edf0d1c360301099e9c6,1,2,2,4.303,693,16.00,16.0,0,0.0,0
955,955,5d417e7070327a2743021677,1,1,1,3.598,378,2.72,9.0,70,70.0,0
956,956,5add589edb5f1f32114d07df,1,1,1,3.956,1134,14.00,14.0,0,0.0,0
957,957,5d4b8931933fb13f8a1fe232,1,1,1,4.007,1380,11.00,30.0,64,64.0,0

In [4]:
df.merchantid.value_counts()

merchantid
5357bcf2bb72c5504882e889    1
56498ab42a6bdb4474afa47b    1
580c7d0a8b67fa197454a2d1    1
596b4085d4cc34162e778769    1
5d8b2f16ddac8e198fc7c8b7    1
                           ..
530306fe34067e3f15c41d87    1
5e50d52818034a6835aeed37    1
5b5576f84543f458aee346fb    1
585a8e9a7b78704cd251a232    1
5d4b8931933fb13f8a1fe232    1
Name: count, Length: 958, dtype: int64